.home-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
}
.home-container > .row {
  -webkit-flex: 1;
}
.header {
  -webkit-flex: 1.2 !important;
  -webkit-align-items: center;
  border-bottom: solid 10px #003066;
  background-color: #2d6cc0;
}
.footer {
  -webkit-flex: 0.25 !important;
  background-color: #ececec;
}
.icon-row {
  -webkit-align-items: center;
  color: #003066;
}
.large:before {
  font-size: 120px !important;
}
