<ion-view view-title="Check-in">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="padding" ng-show="!ready">
      <ion-spinner icon="dots"></ion-spinner>
    </div>
    <div class="padding" ng-show="ready">
      <h2>{{event.name}}</h2>
      <h4>{{event.date}}</h4>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="tel" placeholder="Event Pin" ng-model="checkinModel.pin">
        </label>
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="tel" placeholder="Your Student Identifier" ng-model="checkinModel.studentId">
        </label>
      </div>
      <button class="button button-block button-balanced" ng-click="checkin()">
        Check-in to this event
      </button>
    </div>
  </ion-content>
</ion-view>
