<ion-view view-title="Check-in">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="padding">
      <h2>{{event.Name}}</h2>
      <h4>{{event.Date}}</h4>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="tel" placeholder="Event Pin">
        </label>
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="tel" placeholder="Your Student Identifier">
        </label>
      </div>
      <button class="button button-block button-balanced">
        Check-in to this event
      </button>
    </div>
  </ion-content>
</ion-view>
