<ion-view view-title="Events">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <h4 class="padding">Check-in to which event?</h4>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="padding" ng-show="!ready">
      <ion-spinner icon="dots"></ion-spinner>
    </div>
    <div>
      <a class="item item-icon-right" href="#/checkin/{{event.id}}" collection-repeat="event in events">
        <h2>{{event.name}}</h2>
        <p>{{event.date}}</p>
        <i class="icon ion-arrow-right-c"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
