<ion-view view-title="Home" name="home-view">
  <ion-content scroll="false">
    <section class="home-container">
      <div class="row header">
        <div class="col text-center">
          [LOGO / HEADER]
        </div>
      </div>
      <div class="row icon-row padding">
        <div class="col text-center">
          <a class="button-icon icon ion-qr-scanner large"></a>
          <br> Scan QR Code
        </div>
      </div>
      <div class="row icon-row padding">
        <div class="col text-center">
          <a class="button-icon icon ion-clipboard large"></a>
          <br> Check-in to Event
        </div>
      </div>
      <div class="row footer">
      </div>
    </section>
  </ion-content>
</ion-view>
