<ion-view view-title="Home" name="home-view">
  <ion-content scroll="false">
    <section class="home-container">
      <div class="row header">
        <div class="col text-center">
          <img src="./img/logo.png" alt="logo" style="width: 60%; margin-bottom: 0;"/><br/>
          <h2 style="color: #fff; padding: 0; margin: 0">Event Check-in</h2>
        </div>
      </div>
      <div class="row icon-row padding">
        <div class="col text-center">
          <a class="button-icon icon ion-qr-scanner large" ng-click="scan()"></a>
          <br> Scan QR Code
        </div>
      </div>
      <div class="row icon-row padding">
        <div class="col text-center">
          <a class="button-icon icon ion-clipboard large" ng-click="events()"></a>
          <br> Find an Event
        </div>
      </div>
      <div class="row footer">
      </div>
    </section>
  </ion-content>
</ion-view>
