<ion-view view-title="Home" name="home-view">
  <ion-content scroll="false" class="success">
    <section class="home-container">
      <div class="row icon-row padding">
        <div class="col text-center">
          <i>
            <i class="icon ion-checkmark-circled extra-large"></i><br/>
            <h3>You're checked in!</h3>
        </div>
      </div>
      <div class="row icon-row padding">
        <div class="col text-center">
          <button class="button button-full button-light icon-left ion-home" ng-click="home()">
            Back to home
          </button>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
